[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "*"
psycopg2 = "*"
fastapi = {extras = ["standard"], version = "*"}
typer = {extras = ["all"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}
uvicorn = "*"
sqlalchemy = {extras = ["asyncio"], version = "*"}
asyncpg = "*"
boto3 = "*"
python-multipart = "*"

[dev-packages]

[requires]
python_version = "3.11"
